<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='photos')}">
    <title>Index</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
<div class="container">
    <!-- eventuale messaggio di delete -->
    <div th:if="${message != null}" class="alert alert-dismissible fade show"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
        <div th:text="${message.message}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row my-5">
        <div class="col-10">
            <!-- form di ricerca -->
            <form th:action="@{/photos}" method="GET">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search by photo's name or categories"
                               name="keyword" th:value="${searchInput}">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a  th:href="@{/photos/create}" class="btn btn-success">Add a new 📸</a>
        </div>
    </div>
    <!-- mostro la tabella solo se la lista ha risultati -->
    <table class="table table-striped" th:if="${photoList.size() > 0}">
        <thead>
        <tr class="text-bg-success">
            <th class="">Preview</th>
            <th class="">Title</th>
            <th class="">Description</th>
            <th class="">Visibility</th>
            <th class="">Created</th>
            <th class="">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photoList}" class="table-dark">
            <td>
                <img th:src="${photo.urlPic}" class="plate img-fluid" alt="photo">
            </td>
            <td th:text="${photo.title}"></td>
            <td th:text="${photo.description}"></td>
            <td th:text="${photo.visible}"></td>
            <td th:text="${photo.getFormattedCreatedAt()}"></td>
            <td>
                <div class="d-flex gap-1">
                    <a th:href="@{|/photos/${photo.id}|}">
                        <button class="btn btn-success" type="submit">
                            <i class="fa-solid fa-camera"></i>
                        </button>
                    </a>
                    <!-- sec:authorize="hasAuthority('ADMIN')" -->
                    <a th:href="@{|/photos/edit/${photo.id}|}">
                        <button class="btn btn-light" type="submit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </a>
                    <!-- faccio il form essendo una richiesta POST e non GET come nelle 2 actions sopra -->
                    <form th:action="@{|/photos/delete/${photo.id}|}" method="post">
                        <button class="btn btn-danger" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-danger text-center" th:unless="${photoList.size() > 0}">
        The 📸 list is empty 🤷‍
    </div>
</div>
</body>
</html>