<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Photos List')}">
    <title>Show</title>
</head>
<body class="container">
<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
<div class="container"  th:object="${photo}">
    <div class="card" style="height: 30rem;">
        <img th:src="*{urlPic}" class="card-img-top img-fluid" alt="photo" style="height: 13rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="*{title}"></h5>
            <p class="card-text" th:text="*{description}"></p>
        </div>
        <!-- categorie -->
        <div class="col-4">
            <h3>Categories</h3>
            <ul th:if="*{categories.size() > 0}">
                <li th:each="cat : *{categories}" th:text="${cat.name}"></li>
            </ul>
            <div th:unless="*{categories.size() > 0}" class="alert alert-info">No categories</div>
        </div>
</div>

</div>
</body>
</html>